.all{
    margin: none;
   height: 30rem;
   display: flex;
   justify-content: center;
   align-items: center;
    padding: none;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
}

.parent{
    background-color: #ff7878;
    background-image: linear-gradient(315deg, #ff7878 0%, #74d680 74%);
    border: 0.3rem solid rgb(4, 11, 7);
    width: 30rem;
}


.form-inputs{
     
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-input{
    margin: 1rem;
   display:flex;
   justify-content: center;
   flex-direction: column;
    
}

.form-input input{
   
    background-color: rgb(68, 222, 135);
    border: 0.1rem solid rgb(4, 11, 7);
}

.buttons{
   
   display: flex;
    justify-content: center;
    
}

.buttons button{
    border: 0.1rem solid rgb(0, 0, 0);
    background-color: rgb(87, 193, 133);
    margin: 1rem;
    width: 6rem;
    height: 1.5rem;
}

/* 
real css

.form label {
    display: block;
    margin-bottom: 0.25rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .form input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #76c0ae;
    border-radius: 0.25rem;
    background-color: transparent;
    color: #c2e9e0;
    font-size: 1rem;
  } */